a {
  color: black !important;
  text-decoration:none;
}

body {
  width:100%;
}

.productInSlider {
  width:80px;
  height:80px;
  border-radius: 80px;
  margin:0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.productInSlider:hover {
  transform: scale(0.8);
}

.buyBtn{
  background-color: #FFBF9B;
  color:black;
  border-radius:90px !important;
  border:none;
  margin:10px;
  padding:10px;
  padding-right:5px;
  padding-left:5px;
  font-family: 'Changa', sans-serif;
  font-size: 15px;
}

.buyBtn:hover{
  color:#FFBF9B !important;
  background-color:rgba(0, 0, 0, 0.6);
  font-family: 'Changa', sans-serif;
 
}

.imgRoundedBorder{
  padding:70px; border-radius: 100px;;

}

@media(max-width:576px){ 
  .sliderContainer{
    width : 396px !important;
  }
}

@media(max-width:768px) and (min-width:576px){ 
  .sliderContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:-40px;
  }

  .imgRoundedBorder{
    padding:10px;
  }

    
  .contentContainer{
    position:absolute;
    right :90%;
    top : 70%;
  }
}

@media(min-width:768px){

  .reversedRow{
    position: absolute;
    display:flex;
    flex-direction: column;
    top:20%;
    left :0%;
    padding:0px;
    width:0;
    justify-content: space-around;
    gap:60px;
    margin : 10px;
    padding:10px;
  }

  .cardContainer{
    width : 80% !important;
  }

}


.card{
  position:relative;
  height:400px;
  width:100%;
  margin:10px 4px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  display:flex;
  flex-direction:row;
  justify-content: space-between ;
  align-items: center;
  box-shadow:0 10px 28px rgba(0, 0, 0, 0.6);
  align-items: center;
  transition:0.4s ease-in-out;

}

.cardContainer  .imgbox{
  display : flex;
  justify-content: center;
  flex-direction: column;
  padding:20px;
}

.productInfoContainer  .cardContainer:hover  .imgbox{
  transform: translateY(-110px);
}

.productInfoContainer  .imgbox img{
  max-width:100%;
  margin:0 0 20px;
  transition:0.5s ease-in-out;
}

.productInfoContainer .cardContainer:hover .imgbox img{
  transform:translate(-10px , -20px ) rotate(-25deg) scale(1.4);
}

.productInfoContainer .cardContainer .contentContainer{
  position:absolute;
  bottom:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  transition:0.4s ease-in-out;
  opacity:0;
  visibility: hidden;
}

.contentContainer{
  right :30%;
  top : 70%;
}

.productInfoContainer .cardContainer:hover .contentContainer{
  opacity:1;
  visibility:visible;
  transform:translate(0px);
}

